services:
  api:
    build: .
    ports:
      - "${PORT:-8555}:8555"
    environment:
      - FASTWRAP_API_KEY=${FASTWRAP_API_KEY}
      - PORT=${PORT}
      - HOST=${HOST}
      - MODEL=${MODEL}
      - MODEL_KEY=${MODEL_KEY}
      - REDIS_HOST=${REDIS_HOST} # FOR DEVELOPMENT
      # - REDIS_HOST=redis # FOR PROD RELEASE
      - REDIS_PORT=${REDIS_PORT}
      # - REDIS_PORT=6379
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - redis
      - postgres
    volumes:
      - .:/app

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    environment:
      - REDIS_HOST=${REDIS_HOST} # FOR DEVELOPMENT
      # - REDIS_HOST=redis # FOR PROD RELEASE
      - REDIS_PORT=${REDIS_PORT}
      # - REDIS_PORT=6379
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  postgres:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PW}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  redis_data:
  pg_data:
